In [1]:
print('Hello Jupyter Notebook') # Can Run a cell with the shortcut 'shift+enter'

Hello Jupyter Notebook

In [2]:
import os # Exposes an API for working with the file system

In [3]:
os.listdir() # List contents of current directory

# Text completion can be accomplished with Tab
files = os.listdir()
files

['jupyter-notebook-python.zip',
 'jupyter-notebook-python',
 'data',
 '5 - Displaying Rich Content.ipynb',
 'Course Subsection 2 - Moving from the REPL to a Notebook.ipynb',
 'README.md',
 '.ipynb_checkpoints']

In [4]:
import datetime
today = datetime.datetime.now()

print(today.day)

10

In [5]:
print(datetime.datetime.now())

2022-10-10 14:09:42.934191

In [6]:
# datetime.datetime() # Can hold Shift-Tab when currsor is over argument to see description of parameters

In [7]:
# Shell commands can be run from the Notebook - are prefixed with a !

!pwd
!ls

/home/justin/Documents/Repos/PythonProjects/python-pluralsight-trainings/gswjn5ap
'5 - Displaying Rich Content.ipynb'
'Course Subsection 2 - Moving from the REPL to a Notebook.ipynb'
 data
 jupyter-notebook-python
 jupyter-notebook-python.zip
 README.md

In [8]:
# The output of a shell command can be saved and used within the python code
files = !ls
files

['5 - Displaying Rich Content.ipynb',
 'Course Subsection 2 - Moving from the REPL to a Notebook.ipynb',
 'data',
 'jupyter-notebook-python',
 'jupyter-notebook-python.zip',
 'README.md']

In [9]:
!cat README.md

print('\n')

filename = 'README.md'
!cat {filename}

This project contains files related to the "Getting Started with Jupyter Notebook 5 and Python" Course offered on PluralSight

This project contains files related to the "Getting Started with Jupyter Notebook 5 and Python" Course offered on PluralSight

In [10]:
# Accessing stored input and output
# Is useful when you wish to replicate the cells / content of the cells somewhere else in the notebook
# To do this, Jupyter Notebooks stores all of the inputs and outputs into objects - 'in' and 'out'
# To the left: In [#] <- the # refers to the indicies to the in and out objects for that particular input or output

from collections import Counter

In [11]:
# Retrieving the input of the last cell
In[9]

"get_ipython().system('cat README.md')\n\nprint('\\n')\n\nfilename = 'README.md'\nget_ipython().system('cat {filename}')"

In [12]:
text = 'the quick brown fox jumped over the lazy dog'
counter = Counter()
for word in text.split(' '):
    counter[word[0]] += 1
counter['t']

2

In [13]:
# Retrieving the output of the last cell
Out[12]

2

In [14]:
# Note that the input is going to be text while the output can be any valid python value
type(Out[12])

int

In [15]:
# Note also: the underscore character '_' has special meaning in the jupyter notebook environment
# It will always store the most recent output... whatever that may be.

# Ex:
[x ** 2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [16]:
_

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [17]:
# Styling cell output
!head data/weather.csv

Date,Max Temp,Min Temp,Average Temp,Departure,HDD,CDD,Precip,New Snow,Snow Depth
2022-09-01,81,60,70.5,0.9,0,6,0,0,0
2022-09-02,84,59,71.5,2.1,0,7,0,0,0
2022-09-03,81,65,73,3.9,0,8,T,0,0
2022-09-04,76,65,70.5,1.6,0,6,0.83,0,0
2022-09-05,76,67,71.5,2.9,0,7,1.71,0,0
2022-09-06,75,66,70.5,2.2,0,6,0.06,0,0
2022-09-07,77,64,70.5,2.5,0,6,0.04,0,0
2022-09-08,78,60,69,1.3,0,4,0,0,0
2022-09-09,81,56,68.5,1.1,0,4,0,0,0

In [18]:
# One solution: CSV module imported from Python standard library
# Works but the CSV module is not concerned with display

import csv

file = open('data/weather.csv', 'r')
rdr = csv.reader(file)
for line in rdr:
    print(line)
file.close()

['Date', 'Max Temp', 'Min Temp', 'Average Temp', 'Departure', 'HDD', 'CDD', 'Precip', 'New Snow', 'Snow Depth']
['2022-09-01', '81', '60', '70.5', '0.9', '0', '6', '0', '0', '0']
['2022-09-02', '84', '59', '71.5', '2.1', '0', '7', '0', '0', '0']
['2022-09-03', '81', '65', '73', '3.9', '0', '8', 'T', '0', '0']
['2022-09-04', '76', '65', '70.5', '1.6', '0', '6', '0.83', '0', '0']
['2022-09-05', '76', '67', '71.5', '2.9', '0', '7', '1.71', '0', '0']
['2022-09-06', '75', '66', '70.5', '2.2', '0', '6', '0.06', '0', '0']
['2022-09-07', '77', '64', '70.5', '2.5', '0', '6', '0.04', '0', '0']
['2022-09-08', '78', '60', '69', '1.3', '0', '4', '0', '0', '0']
['2022-09-09', '81', '56', '68.5', '1.1', '0', '4', '0', '0', '0']
['2022-09-10', '73', '60', '66.5', '-0.6', '0', '2', 'T', '0', '0']
['2022-09-11', '74', '63', '68.5', '1.8', '0', '4', '0.9', '0', '0']
['2022-09-12', '75', '57', '66', '-0.4', '0', '1', '0.01', '0', '0']
['2022-09-13', '67', '52', '59.5', '-6.6', '5', '0', '0', '0', '0']
['2022-09-14', '74', '52', '63', '-2.7', '2', '0', '0', '0', '0']
['2022-09-15', '75', '56', '65.5', '0.1', '0', '1', '0', '0', '0']
['2022-09-16', '78', '53', '65.5', '0.5', '0', '1', '0', '0', '0']
['2022-09-17', '79', '55', '67', '2.4', '0', '2', '0', '0', '0']
['2022-09-18', '80', '61', '70.5', '6.3', '0', '6', '0', '0', '0']
['2022-09-19', '74', '63', '68.5', '4.6', '0', '4', '0.33', '0', '0']
['2022-09-20', '78', '58', '68', '4.5', '0', '3', '0', '0', '0']
['2022-09-21', '83', '59', '71', '7.9', '0', '6', '0.01', '0', '0']
['2022-09-22', '71', '48', '59.5', '-3.2', '5', '0', '0.7', '0', '0']
['2022-09-23', '61', '42', '51.5', '-10.8', '13', '0', '0', '0', '0']
['2022-09-24', '65', '46', '55.5', '-6.4', '9', '0', '0', '0', '0']
['2022-09-25', '70', '55', '62.5', '1', '2', '0', '0.27', '0', '0']
['2022-09-26', '66', '50', '58', '-3.1', '7', '0', '0.03', '0', '0']
['2022-09-27', '59', '45', '52', '-8.7', '13', '0', '0.13', '0', '0']
['2022-09-28', '60', '43', '51.5', '-8.8', '13', '0', '0.13', '0', '0']
['2022-09-29', '60', '47', '53.5', '-6.4', '11', '0', '0', '0', '0']
['2022-09-30', '59', '42', '50.5', '-9', '14', '0', '0', '0', '0']

In [19]:
# Instead we will use Pandas - a library constructed specifically for data analysis
# converts a csv file to a dataframe like in R

import pandas as pd

df_weather = pd.read_csv('data/weather.csv')

df_weather

# Notice the rich formatting

,Date,Max Temp,Min Temp,Average Temp,Departure,HDD,CDD,Precip,New Snow,Snow Depth
0,2022-09-01,81,60,70.5,0.9,0,6,0,0,0
1,2022-09-02,84,59,71.5,2.1,0,7,0,0,0
2,2022-09-03,81,65,73.0,3.9,0,8,T,0,0
3,2022-09-04,76,65,70.5,1.6,0,6,0.83,0,0
4,2022-09-05,76,67,71.5,2.9,0,7,1.71,0,0
5,2022-09-06,75,66,70.5,2.2,0,6,0.06,0,0
6,2022-09-07,77,64,70.5,2.5,0,6,0.04,0,0
7,2022-09-08,78,60,69.0,1.3,0,4,0,0,0
8,2022-09-09,81,56,68.5,1.1,0,4,0,0,0
9,2022-09-10,73,60,66.5,-0.6,0,2,T,0,0
10,2022-09-11,74,63,68.5,1.8,0,4,0.9,0,0
11,2022-09-12,75,57,66.0,-0.4,0,1,0.01,0,0
12,2022-09-13,67,52,59.5,-6.6,5,0,0,0,0
13,2022-09-14,74,52,63.0,-2.7,2,0,0,0,0
14,2022-09-15,75,56,65.5,0.1,0,1,0,0,0
15,2022-09-16,78,53,65.5,0.5,0,1,0,0,0
16,2022-09-17,79,55,67.0,2.4,0,2,0,0,0
17,2022-09-18,80,61,70.5,6.3,0,6,0,0,0
18,2022-09-19,74,63,68.5,4.6,0,4,0.33,0,0
19,2022-09-20,78,58,68.0,4.5,0,3,0,0,0
20,2022-09-21,83,59,71.0,7.9,0,6,0.01,0,0
21,2022-09-22,71,48,59.5,-3.2,5,0,0.7,0,0
22,2022-09-23,61,42,51.5,-10.8,13,0,0,0,0
23,2022-09-24,65,46,55.5,-6.4,9,0,0,0,0
24,2022-09-25,70,55,62.5,1.0,2,0,0.27,0,0
25,2022-09-26,66,50,58.0,-3.1,7,0,0.03,0,0
26,2022-09-27,59,45,52.0,-8.7,13,0,0.13,0,0
27,2022-09-28,60,43,51.5,-8.8,13,0,0.13,0,0
28,2022-09-29,60,47,53.5,-6.4,11,0,0,0,0
29,2022-09-30,59,42,50.5,-9.0,14,0,0,0,0

In [20]:
# Lets clean up this df a little bit:

df_weather.info()

df_weather = df_weather.drop(df_weather.iloc[:, 5:7], axis = 1)

print('---------------------- \n')

df_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          30 non-null     object
 1   Max Temp      30 non-null     int64
 2   Min Temp      30 non-null     int64
 3   Average Temp  30 non-null     float64
 4   Departure     30 non-null     float64
 5   HDD           30 non-null     int64
 6   CDD           30 non-null     int64
 7   Precip        30 non-null     object
 8   New Snow      30 non-null     int64
 9   Snow Depth    30 non-null     int64
dtypes: float64(2), int64(6), object(2)
memory usage: 2.5+ KB
----------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          30 non-null     object
 1   Max Temp      30 non-null     int64
 2   Min Temp      30 non-null     int64
 3   Average Temp  30 non-null     float64
 4   Departure     30 non-null     float64
 5   Precip        30 non-null     object
 6   New Snow      30 non-null     int64
 7   Snow Depth    30 non-null     int64
dtypes: float64(2), int64(4), object(2)
memory usage: 2.0+ KB

In [21]:
# Format column types

df_weather["Date"] = pd.to_datetime(df_weather["Date"])

df_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          30 non-null     datetime64[ns]
 1   Max Temp      30 non-null     int64
 2   Min Temp      30 non-null     int64
 3   Average Temp  30 non-null     float64
 4   Departure     30 non-null     float64
 5   Precip        30 non-null     object
 6   New Snow      30 non-null     int64
 7   Snow Depth    30 non-null     int64
dtypes: datetime64[ns](1), float64(2), int64(4), object(1)
memory usage: 2.0+ KB

In [22]:
import numpy as np

df_weather['Precip'] = pd.to_numeric(df_weather['Precip'], errors='coerce')

df_weather = df_weather.astype({'Max Temp':'float','Min Temp':'float', 'New Snow':'float', 'Snow Depth':'float'}, errors='ignore')

df_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          30 non-null     datetime64[ns]
 1   Max Temp      30 non-null     float64
 2   Min Temp      30 non-null     float64
 3   Average Temp  30 non-null     float64
 4   Departure     30 non-null     float64
 5   Precip        28 non-null     float64
 6   New Snow      30 non-null     float64
 7   Snow Depth    30 non-null     float64
dtypes: datetime64[ns](1), float64(7)
memory usage: 2.0 KB

In [23]:
df_weather

,Date,Max Temp,Min Temp,Average Temp,Departure,Precip,New Snow,Snow Depth
0,2022-09-01,81.0,60.0,70.5,0.9,0.00,0.0,0.0
1,2022-09-02,84.0,59.0,71.5,2.1,0.00,0.0,0.0
2,2022-09-03,81.0,65.0,73.0,3.9,NaN,0.0,0.0
3,2022-09-04,76.0,65.0,70.5,1.6,0.83,0.0,0.0
4,2022-09-05,76.0,67.0,71.5,2.9,1.71,0.0,0.0
5,2022-09-06,75.0,66.0,70.5,2.2,0.06,0.0,0.0
6,2022-09-07,77.0,64.0,70.5,2.5,0.04,0.0,0.0
7,2022-09-08,78.0,60.0,69.0,1.3,0.00,0.0,0.0
8,2022-09-09,81.0,56.0,68.5,1.1,0.00,0.0,0.0
9,2022-09-10,73.0,60.0,66.5,-0.6,NaN,0.0,0.0
10,2022-09-11,74.0,63.0,68.5,1.8,0.90,0.0,0.0
11,2022-09-12,75.0,57.0,66.0,-0.4,0.01,0.0,0.0
12,2022-09-13,67.0,52.0,59.5,-6.6,0.00,0.0,0.0
13,2022-09-14,74.0,52.0,63.0,-2.7,0.00,0.0,0.0
14,2022-09-15,75.0,56.0,65.5,0.1,0.00,0.0,0.0
15,2022-09-16,78.0,53.0,65.5,0.5,0.00,0.0,0.0
16,2022-09-17,79.0,55.0,67.0,2.4,0.00,0.0,0.0
17,2022-09-18,80.0,61.0,70.5,6.3,0.00,0.0,0.0
18,2022-09-19,74.0,63.0,68.5,4.6,0.33,0.0,0.0
19,2022-09-20,78.0,58.0,68.0,4.5,0.00,0.0,0.0
20,2022-09-21,83.0,59.0,71.0,7.9,0.01,0.0,0.0
21,2022-09-22,71.0,48.0,59.5,-3.2,0.70,0.0,0.0
22,2022-09-23,61.0,42.0,51.5,-10.8,0.00,0.0,0.0
23,2022-09-24,65.0,46.0,55.5,-6.4,0.00,0.0,0.0
24,2022-09-25,70.0,55.0,62.5,1.0,0.27,0.0,0.0
25,2022-09-26,66.0,50.0,58.0,-3.1,0.03,0.0,0.0
26,2022-09-27,59.0,45.0,52.0,-8.7,0.13,0.0,0.0
27,2022-09-28,60.0,43.0,51.5,-8.8,0.13,0.0,0.0
28,2022-09-29,60.0,47.0,53.5,-6.4,0.00,0.0,0.0
29,2022-09-30,59.0,42.0,50.5,-9.0,0.00,0.0,0.0

In [24]:
# The above table is rendered using HTML, therefore the style can be modified via the style property of the df
# df_weather.style.render()

# For example, let's highlight the max value in each column
df_weather.style.highlight_max()

In [25]:
# Other examples of custom highlighting - any value that is 70 or greater
def highlight_70_and_over(precip):
    if isinstance(precip, float):
        return 'color: {0}'.format('green' if precip >= 70 else 'black')
    return 'color: black'

In [26]:
df_weather.style.applymap(highlight_70_and_over)

In [27]:
# Exporting formatted weather data
df_weather.to_csv('data/weather_formatted.csv', index = False)